<tr><td><table class="content" id="subtitle"><tr><td>
	<h2>Changelog</h2>&nbsp;
</td></tr></table></td></tr>

<tr><td><table class="content"><tr><td>
	<h3>vX.X</h3>
	<ul>
		<li>Feature1</li>
		<li>Feature2</li>
	</ul>
</td></tr></table></td></tr>
