<tr><td><table class="content" id="subtitle"><tr><td>
	<h2>Changelog</h2>&nbsp;
</td></tr></table></td></tr>

<tr><td><table class="content"><tr><td>
	<h3>v2.0.3</h3>
	<ul>
		<li>Bugfix: Bei fehlenden Sessions wird nun korrekt auf die Login-Seite umgeleitet</li>
	</ul>
	<h3>v2.0.2</h3>
	<ul>
		<li>Eine Changelog-Seite angelegt</li>
	</ul>
	<h3>v2.0.1</h3>
	<ul>
		<li>Bugfix: Diverse Sicherheitslücken im Controller 'user' geschlossen</li>
	</ul>
	<h3>v2.0</h3>
	<ul>
		<li>Neues Design implementiert</li>
		<li>Benutzer müssen nun ihre Emailadressen validieren</li>
		<li>Passwortvergessen-Funktion hinzugefügt</li>
		<li>Zweiwege-Verfahren für Passwortvergessen-Fuktion implementiert</li>
		<li>Benutzer können in ihrem Profil nun wählen welche Spalten, im Serien:index und Staffel:index, angezeigt werden</li>
	</ul>
	<h3>v1.9</h3>
	<ul>
		<li>In der Tag-Prüfung werden nun auch Hex-Farbcodes zugelassen</li>
		<li>Beim Filtern kann die 'X'-Seite und die 'Individuelle'-Seite nun wahlweise mit UND oder ODER verknüpft werden</li>
		<li>In den Benutzereinstellungen kann ein Defaultwert für die Filterverknüpfung angegeben werden</li>
		<li>Episodenzahl zu Steffeln hinzugefügt</li>
		<li>Bugfix: Im Hauptmenü wurde 'Seasons' statt 'Staffeln' angezeigt</li>
	</ul>
	<h3>v1.8.1</h3>
	<ul>
		<li>Bugfix: Staffel:index wird nun nach Name sortiert</li>
	</ul>
	<h3>v1.8</h3>
	<ul>
		<li>Im Serien:index wird nun, unterhalb der aufgelisteten Serien, ausgegeben wieviel Serien und Staffeln angezeigt werden</li>
		<li>Staffel:index hinzugefügt, in dem alle Staffeln angezeigt werden</li>
		<li>Staffeltags hinzugefügt</li>
	</ul>
	<h3>v1.7</h3>
	<ul>
		<li>Filterfunktion für Tags zum Serien:index hinzugefügt</li>
	</ul>
	<h3>v1.6</h3>
	<ul>
		<li>In den Benutzereinstellungen kann nun gewählt werden, ob man das 'X', im Serien:index, durch die höchste Staffel ersetzen lassen möchte, oder nicht</li>
		<li>Zu Serien kann nun eine Pilotfolge hinzugefügt werden</li>
	</ul>
	<h3>v1.5</h3>
	<ul>
		<li>Zu Serien können nun Tags hinzugefügt werden</li>
		<li>Emailadresse wird vor dem speichern auf Korrektheit geprüft</li>
		<li>Loginname wird vor dem speichern auf Einzigartigkeit geprüft</li>
	</ul>
	<h3>v1.4.2</h3>
	<ul>
		<li>Bugfix: Fehler im Modell 'user' beseitigt, der dafür sorgte, dass die Emailadresse nicht gespeichert wird</li>
	</ul>
	<h3>v1.4.1</h3>
	<ul>
		<li>Bugfix: 'Als CSV exportieren'-Link im Serien:index eingefügt</li>
	</ul>
</td></tr></table></td></tr>
