<tr><td><table class="content" id="subtitle"><tr><td>
<h2>Neues Passwort generieren</h2>&nbsp;
</td></tr></table></td></tr>
<tr><td><table class="content"><tr><td>
<%= form_tag :controller => "session", :action => "password" %>
Loginname:
<%= text_field_tag :login, ""%>

<%= submit_tag "Passwort zuschicken"%>
</form>
</td></tr></table></td></tr>