<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%= t 'users.edit.header', :username => @user.fullname %></h2>
<% if @user == User.current && !@user.email_valid? then %><%= link_to t('users.edit.validate_email'), :action => 'validate_email', :id => @user.id %><% end %>&nbsp;
</td></tr></table></td></tr>

<%= render 'form' %>