// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#users_complete {
  color:green;
}

#users_partly {
  color:orange;
}

.header {
  width:auto;
  margin: 0;
  padding: 0;
}

.header tr td {
    border: none;
    padding-right:20px;
}

#subtitle h2 {
  padding: 0px;
  margin: 0px;
}

.header td#first-cell {
  text-align:right;
}

.last td {
  background:none;
  border:none;
  vertical-align:top;
}

tr:hover .last td {
  background:none;
  border:none;
}

#filter_tag_id {
  width: 130px;
}
