<% if flash[:notice] %>
<tr>
	<td>
		<table class="content notice">
			<tr>
				<th>Hinweis</th>
			</tr>
			<tr>
				<td><%= flash[:notice] %></td>
			</tr>
		</table>
	</td>
</tr>
<% end %>

<% if flash[:alert] %>
<tr>
	<td>
		<table class="content error">
			<tr>
				<th>Warnung</th>
			</tr>
			<tr>
				<td><%= flash[:alert] %></td>
			</tr>
		</table>
	</td>
</tr>
<% end %>